.searchResult {
  overflow: auto;
}

.searchResultList {
  padding: 5px 5px 5px 12px;
  cursor: default;
}
.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
}

.innerContainer {
  display: flex;
  width: 95%;
}

.searchIcon {
  fill: #696969;
  margin-top: 5px;
  width: 21px;
}
