.searchResult {
  margin-bottom: 30px;
}

.resultItemMargin {
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
}

.link {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.resultCount {
  font-weight: 500;
  margin-bottom: 20px;
}
