.app {
  // display: flex;
  // height: 100%;
  // justify-content: center;
  // width: 100%;
  // margin: 60px;
}
.acContainer {
  height: 120px;
  box-shadow: 0 1px 3px rgba(32, 33, 36, 0.4);
  margin-bottom: 30px;
}

.acInnerContainer {
  width: 80%;
  margin: auto;
  position: relative;
  top: 30%;
}

@media screen and (max-width: 540px) {
  .acContainer {
    width: 300px;
  }
}

.resultContainer {
  width: 100%;
  padding-bottom: 50px;
}

.resultInnerContainer {
  margin: auto;
  width: 80%;
}
